.face .thankYou {
  display: flex;
  justify-items: center;
  align-items: center;
  position: absolute;
  /* width: 200px;
  height: 130px; */
  text-align: center;
  /* font-size: 2em; */
  color: #07ad90;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
}
/* .face .thankYou:after {
  position: absolute;
  content: "";
  width: 50px;
  height: 25px;
  border: 10px solid #07ad90;
  border-right: 0;
  border-top: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(0);
  transform: translate(-50%, -50%) rotate(0deg) scale(0);
  -webkit-animation: success ease-in 0.15s forwards;
  animation: success ease-in 0.15s forwards;
  animation-delay: 2.5s;
} */

.wrapper {
  width: 100%;
  /* margin: 60px auto; */
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  min-height: 600px;
  background-color: #efefef;
  font-size: 24px;
  position: relative;
}
/* .iconPhone {
  position: absolute;
  width: 25%;
  height: 30%;
} */
.faceFront {
  position: absolute;
  /* height: 100%; */
  transform: rotateY(0deg) translateZ(125px);
}
.face {
  position: absolute;
  width: 25%;
  /* max-height: 500px; */
  height: 600px;
  background: #efefef;
  border: 3px solid #007bff;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 5px 25px;
}
.faceBottom {
  height: 50%;
  transform: rotateX(-90deg) translateZ(225px);
}
.content {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 80%;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
}
.fieldWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 80%;
  position: relative;
  /* height: 70px; */
  width: 100%;
}
.content .fieldWrapper {
  /* margin-top: 30px; */
  position: relative;
}
.content .fieldWrapper .label {
  position: absolute;
  pointer-events: none;
  font-size: 0.85em;
  top: 40%;
  left: 0;
  transform: translateY(-50%);
  transition: all ease-in 0.25s;
  color: #999;
  font-size: 1em;
}
.content .fieldWrapper .input,
.content .fieldWrapper .textarea {
  width: 100%;
  border: none;
  background: transparent;
  border-bottom: 1px solid #007bff;
  color: #666;
}
.content .fieldWrapper .input:focus,
.content .fieldWrapper .textarea:focus {
  outline: none;
}
.content .fieldWrapper .input:focus + .label,
.content .fieldWrapper .input:not(:placeholder-shown) + .label {
  top: -70%;
  color: #007bff;
}
.content .fieldWrapper .textarea:focus + .label,
.content .fieldWrapper .textarea:not(:placeholder-shown) + .label {
  top: -60%;
  color: #007bff;
}
/* .content .fieldWrapper .input[type="text"]:focus + label,
.content .fieldWrapper .textarea:focus + label,
.content .fieldWrapper .input[type="text"]:not(:placeholder-shown) + label,
.content .fieldWrapper .textarea:not(:placeholder-shown) + label {
  top: -35%;
  color: #42509e;
} */

.content .fieldWrapper .input::-webkit-input-placeholder,
.content .fieldWrapper .input::-webkit-input-placeholder,
.content .fieldWrapper .textarea::-webkit-input-placeholder {
  opacity: 0;
}
.content .fieldWrapper .input::-moz-placeholder,
.content .fieldWrapper .input::-moz-placeholder,
.content .fieldWrapper .textarea::-moz-placeholder {
  opacity: 0;
}
.content .fieldWrapper .input:-ms-input-placeholder,
.content .fieldWrapper .input:-ms-input-placeholder,
.content .fieldWrapper .textarea:-ms-input-placeholder {
  opacity: 0;
}
.content .fieldWrapper .input:-moz-placeholder,
.content .fieldWrapper .input:-moz-placeholder,
.content .fieldWrapper .textarea:-moz-placeholder {
  opacity: 0;
}

.recPrism {
  width: 100%;
  height: 100%;
  /* max-height: 500px; */
  position: absolute;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 0.5s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}

.headings {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  gap: 0.5em;
  /* height: 10%; */
}
.heading {
  font-weight: "bold";
  font-size: 1em;
  color: #007bff;
  text-align: "center";
}
.subHeading {
  font-weight: "bold";
  font-size: 0.6em;
  text-align: "center";
  color: #007bff;
}

.form {
  background-color: "#fff";
  padding: "20px";
  border-radius: "8px";
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
/* width: 1080px; */
  /* max-width: "400px";
margin: "0 auto";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
} */
}
.value {
  width: 100%;
  padding: 15px;
  color: white;

  /* margin-bottom: "12px"; */
  /* border: 1px solid #ccc; */
  border-radius: 20px;
  font-size: 16px;
  transition: "border-color 0.2s ease";
  /* color: rgb(93, 221, 218); */
  height: 50px;
  background-color: rgb(55, 114, 113);
  box-sizing: border-box;
  border: none;
  outline: none;
  /* position: relative; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}
.value::placeholder {
  color: rgb(93, 221, 218);
}

.comment::placeholder {
  color: rgb(93, 221, 218);
}

.textarea {
  width: 100%;
  border: none;
  background: transparent;
  line-height: 0.7em;
  border-bottom: 1px solid #07ad90;
  color: #666;
  resize: none;
  font-size: 1em;
}
.box1 {
  position: relative;
  /* min-height: 220px; Set a minimum height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* row-gap: 30px; */
  gap: 1.8em;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.8em;
  margin-top: 1.8em;
}
.input {
  line-height: 2em;
  font-size: 1em;
}

.label {
  font-size: 2em;
}

.button:disabled {
  background-color: #66d3d1;
  opacity: 0.5;
  cursor: not-allowed;
}
/* <!-- HTML !-->
<button class="button" role="button">Button 79</button> */

/* CSS */
.button {
  width: 50%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-items: center;

  text-align: center;
  /* bac-visibility: hidden; */
  background-color: #007bff;
  border: 0;
  border-radius: 0.375rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, Helvetica, sans-serif;
  font-size: 0.6em;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.3;
  padding: 1% 1.25%;
  position: relative;
  /* text-align: left; */
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:disabled {
  background-color: #66d3d1;
  opacity: 0.5;
  cursor: not-allowed;
}

.button:not(:disabled):hover {
  transform: scale(1.05);
}

.button:not(:disabled):hover:active {
  transform: scale(1.05) translateY(0.125rem);
}

.button:focus {
  outline: 0 solid transparent;
}

.button:focus:before {
  border-width: 0.125rem;
  content: "";
  left: calc(-1 * 0.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1 * 0.375rem);
  transition: border-radius;
  user-select: none;
}

.button:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button:not(:disabled):active {
  transform: translateY(0.125rem);
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  position: relative;
  height: 70px;
  width: 100%;
}
.error {
  color: rgba(255, 0, 0, 0.864);
  margin: 0;
  font-size: 0.85em;
  position: absolute;
  bottom: -120%;
  text-align: center;
}
.errorComment {
  color: rgba(255, 0, 0, 0.864);
  margin: 0;
  font-size: 16px;
  position: absolute;
  bottom: -20px;
}
