.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  max-width: 100%;
  margin: 15px 15px 3.2em;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
  color: white;
}
.title {
  color: #2d605f;
  font-size: 45px;
}

.buttonToggle {
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  position: absolute;
  left: 90px;
}

.buttonToggle.learnMore {
  width: 12rem;
  height: auto;
}
.circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #2d605f;
  border-radius: 1.625rem;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.icon {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: white;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.icon.arrowOpen {
  position: absolute;
  display: block;
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.icon.arrowOpen::before {
  position: absolute;
  content: "";
  top: -0.5rem;
  right: -0.1rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid white;
  border-right: 0.125rem solid white;
  transform: rotate(135deg);
}
.icon.arrowClose {
  position: absolute;
  display: block;
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.icon.arrowClose::before {
  position: absolute;
  content: "";
  top: -0.1rem;
  right: -0.1rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid white;
  border-right: 0.125rem solid white;
  transform: rotate(-45deg);
}

.buttonText {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 4rem;
  color: #2d605f;
  font-weight: 700;
  line-height: 1.6;
  text-align: start;
  text-transform: uppercase;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.buttonToggle:hover .circle {
  width: 100%;
}

.buttonToggle:hover .circle .icon .arrow {
  background: white;
  transform: translate(1rem, 0);
}

.buttonToggle:hover .buttonText {
  color: white;
}

.line {
  display: block;
  height: 0.1rem;
  width: 20%;
  padding: 0;
  background-color: #2d605f;
  margin: 0.9rem;
}
.titleContainer {
  margin-bottom: 2em;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.subTitle {
  color: #2d605f;
  font-size: 24px;
}
.chart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
}
.position {
  text-align: center;
  font-size: 16px;
}
.name {
  text-align: center;
  font-size: 24px;
}
.space {
  height: 2rem;
  width: 100%;
}
.firstLvl {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.1em;
  border-radius: 50px;
  width: 270px;
  height: 100px;
  background-color: #2d605f;
  padding: 0.1em;
  box-sizing: border-box;
}
.secondLvl {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.1em;
  border-radius: 50px;
  width: 270px;
  height: 100px;
  padding: 0.1em;
  box-sizing: border-box;
  background-color: #007bff;
}

.secondContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2.5rem;
}
.thirdLvl {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.1em;
  border-radius: 50px;
  width: 270px;
  height: 100px;
  padding: 0.1em;
  box-sizing: border-box;
  background-color: #4ca7a6;
}
