.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100%;
  flex-direction: column;
}
.iconContainer {
  display: flex;
  align-items: center;
}
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  border: 1px solid transparent;
  border-radius: 15px;
  background-color: white;
  color: black;
  padding: 10px;
  margin: 10px 0;
  accent-color: #3d8584;
  width: 200px;
}

.form {
  margin: 20px;
  border: 1px solid #3d8584;
  border-radius: 10px;
  background-color: #3d8584;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  width: 250px;
}

.heading {
  font-weight: 800;
  margin: 30px 20px 30px 0;
}
.title {
  font-weight: 400;
  width: 80%;
}
.id {
  margin-bottom: 10px;
}
.desc {
  word-wrap: break-word; /* позволяет тексту переноситься на новую строку, если он не помещается */
  overflow: hidden; /* скрывает текст, который не помещается в контейнер */
  max-width: 100%; /* ограничивает ширину текста до 100% ширины контейнера */
}

.products {
  margin: 20px 0;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  width: 96%;
  min-height: 54vh;
}
.containerHeader {
  margin: 20px 0;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  width: 96%;
}
.filters {
  margin: 5px 0;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  width: 96%;
}
.containerTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: "100%";
  padding: 0 0 0 20px;
}

.hr {
  border: 2px solid #3d8584;
  margin: 20px 30px;
}

.show {
  display: none;
}

.horizontal {
  display: flex;
  width: 100%;
  margin: 20px 0;
}
.imgContainer {
  border-radius: 15px;
  background-color: #eaebef;
  height: 220px;
  min-width: 280px;
}
.productTitle {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.productContent {
  padding-left: 20px;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.btns {
  display: flex;
  justify-content: flex-end;
  width: 220px;
}

.containerNone {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  border-radius: 15px;
  border: 1px dashed #cbccce;
}

.noProductsText {
  font-size: 22px;
  color: #cbccce;
}

.deleteForm {
  display: block !important;
  position: absolute;
  z-index: 1;
  top: 200px;
  left: calc(50vw - 125px);
}

.containerHidden {
  display: none;
}

.editBtn {
  display: block;
  color: #3d8584;
}
