.custumFileUpload {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #cacaca;
  background-color: rgba(255, 255, 255, 1);
  padding: 1.5rem;
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
}

.custumFileUpload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custumFileUpload .icon svg {
  height: 80px;
  fill: rgba(75, 85, 99, 1);
}

.custumFileUpload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custumFileUpload .text span {
  font-weight: 400;
  color: rgba(75, 85, 99, 1);
}

.custumFileUpload input {
  display: none;
}

.deleteBtn {
  display: flex;
  margin: 2px 10px 2px 0;
  color: red;
  border: none;
  background-color: transparent;
  font-size: 18px;
  width: min-content;
  font-weight: bolder;
  align-self: end;
}
.deleteBtn:hover {
  cursor: pointer;
  margin: 0 10px 0 0;
  color: red;
  border: none;
  background-color: transparent;
  font-size: 18px;
  width: min-content;
  font-weight: bolder;
}
.container {
  display: flex;
  flex-direction: column;
}
