
@keyframes fade-in-right {
    0% {
      opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes disapear {
    0% {
      opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes grow {
    0% {
        width: 200px;
        height: 200px;
        margin: 0;
    } 50% {
        width: 200px;
        height: 200px;
        margin: 0;
        transform: rotate(180deg);
    } 100% {
        margin-top: 50vw;
        margin-right: 100vw;
        width: 100vw;
        height: 100vw;
    }
  }


.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.miniImage {
    /* width: 200px;
    height: 200px; */
    margin-top: 50vw;
    margin-right: 100vw;
    width: 100vw;
    height: 100vw;
    animation: grow 4s;
}

.bigImage {
    margin-top: 50vw;
    margin-right: 100vw;
    width: 100vw;
    height: 100vw;
}

.logoTitle {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.heading {
    color: #3d8584;
    font-size: 3rem;
    font-weight: 400;
    margin-top: 10px;
    opacity: 0;
    animation: disapear 2s;
}

.hidden {
    display: none;
}

.login {
    animation: fade-in-right 5s;
}