.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: #FFFFFF;
    bottom: calc(50vh - 200px);
    right: 50px;
    height: 400px;
    width: 350px;
    max-width: 400px;
    padding: 20px;
    border-radius: 20px;
}
.text{
    text-align: center  ;
    font-size: 28px;
    color: #3d8584;
    font-weight: 600;
    align-items: center;
    padding: 50px 0;
}
.btnLogin{
    font-size:18px;
    border: none;
    background-color: transparent;
    color: #3d8584  ;
}
.btnLogin:hover,
.btnLogin:after{
    cursor: pointer;
    border: none;
    text-decoration: underline #3d8584;
}

.title {
    font-size: 34px;
    color: #3d8584;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-bottom: 40px;
}

.title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #3d8584;
}

.title::before {
    width: 18px;
    height: 18px;
    background-color: #3d8584;
}

.title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}

.flex {
    display: flex;
    width: 300px;
    gap: 20px;
}

.form label {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}


.form label .input {
    color: grey;
    width: calc(100% - 10px - 10px);
    padding: 10px 10px 25px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;font-size: 20px;
}

.form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 1em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
    top: 15px;
}

.form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}

.form label .input:valid + span {
    color: green;
}

.submit {
    width: 100%;
    margin: 15px 0 25px 0;
    border: none;
    outline: none;
    background-color: #3d8584;
    padding: 10px 40px;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    transform: .3s ease;
}

.submit:hover {
    background-color: rgb(60, 161, 159);
    cursor: pointer ;
}

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}
.link{
    color: rgb(60, 161, 159);
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    font-size:16px;
}
.link a {
    color:rgb(60, 161, 159)
}
.link:hover {
    text-decoration: underline rgb(60, 161, 159);
}
.messageText{
    font-size: 18px;
    color: #3d8584;
    font-weight: 400;
    margin: 10px;
}
.hiddenTextError{
    width: 100%;
    color: #540000;
    font-size: 14px;
    padding: 10px 10px;
}
.hiddenTextSuccess{
    width: 100%;
    color: #49CC90;
    font-size: 14px;
    padding: 10px 10px;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: #FFFFFF;
    height: 400px;
    width: 350px;
    max-width: 400px;
    padding: 20px;
    border-radius: 20px;
}

.successContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    border: solid 1px #72D7A9;
    background-color: #E8F6F0;
    margin-top: 10px;
}
.errorContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    border: solid 1px #ed937c;
    background-color: #FFEBE8;
    margin-top: 10px;
}
.noWindow{
    display: none;
}